{% extends 'base.html' %}{% load static%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Netflix{% endblock %}</title>
  </head>
  <body>
    {% block content %}
    <link rel="stylesheet" href="{% static '/css/index.css' %}" />
    <link rel="stylesheet" href="{% static '/css/loggedin.css' %}" />
    {% if user.is_authenticated %}
    <!--Automatic Carousel Banner Syntax-->
    <div class="container-fluid p-0">
      <div class="banner-carousel">
        {% for movie in movies %}
        <div
          class="banner-slide"
          data-title="{{ movie.title }}"
          data-description="{{ movie.description }}"
          data-release-date="{{ movie.release_date }}"
          data-genre="{{ movie.genre }}"
          data-length="{{ movie.length }}"
          data-image-card-url="{{ movie.image_card.url }}"
          data-image-cover-url="{{ movie.image_cover.url }}"
          data-video-url="/movie/{{ movie.uuid }}"
          data-stars="{{ movie.stars}}"
          data-rating="{{ movie.rating }}"
          style="background-image: url('{{ movie.image_card.url }}');"
          onclick="showModal(this)">
          <div class="banner-content">
            <h1>{{ movie.title }}</h1>
            <p>{{ movie.description }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <div class="mt-5">
      <h3 class="py-3 text-lg-center text-md-center text-sm-start">
        <strong>Popular on Netflix</strong>
      </h3>
      <div class="row movie-thumbnails">
        {% for movie in movies %}
        <!-- Movie Thumbnail -->
        <div class="col-lg-3 col-md-4 col-sm-12">
          <div
            class="movie-thumbnail"
            data-title="{{ movie.title }}"
            data-description="{{ movie.description }}"
            data-release-date="{{ movie.release_date }}"
            data-genre="{{ movie.genre }}"
            data-length="{{ movie.length }}"
            data-image-card-url="{{ movie.image_card.url }}"
            data-image-cover-url="{{ movie.image_cover.url }}"
            data-video-url="/movie/{{ movie.uuid }}"
            data-stars="{{ movie.stars}}"
            data-rating="{{ movie.rating }}"
            onclick="showModal(this)">
            <div
              style="background-image: url('{{ movie.image_card.url }}');"
              class="thumbnail-image">
              <img
                src="url('{{ movie.image_card.url }}"
                alt=""
                class="img-fluid" />
            </div>
            <div class="movie-info">
              <h5>{{movie.title}}</h5>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <!-- Modal Template -->
    <div class="modal" id="movieModal" style="display: none">
      <div class="modal-content">
        <div class="modal-header">
          <h2>Movie Title</h2>
          <button class="close-button" onclick="hideModal()">X</button>
        </div>
        <img src="" alt="Movie Image" class="modal-image" />
        <div class="modal-details">
          <span class="modal-year">Year: </span>
          <span class="modal-genre">Genre: </span>
          <span class="modal-rating">Rating: </span>
          <span class="modal-length">Length: </span>
        </div>
        <p>Movie Description</p>
        <hr />
        <p><em class="modal-stars"></em></p>
        <div class="modal-actions">
          <button
            id="addToListButton"
            onclick="addItemToList()"
            class="btn btn-secondary">
            Add to List
          </button>
          <a href="#" class="btn btn-danger" id="watchNowButton">Play</a>
        </div>
      </div>
    </div>

    {% else %}
    <div class="container-fluid p-0">
      <div class="banner">
        <img
          class="img-fluid"
          src="{% static 'images/index-bg-image.jpg' %}"
          alt="background image" />
        <div class="banner-content">
          <!-- Hero Section -->
          <div class="hero-section">
            <div class="hero-content">
              <h2><strong>Unlimited movies, TV shows, and more.</strong></h2>
              <p>Watch anywhere. Cancel anytime.</p>
              <label for="email-address">
                <a href="{% url 'signup' %}" class="btn btn-netflix inline"
                  >Get Started</a
                >
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %} {% endblock %}
  </body>
</html>
